<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>{%block title%}SocietyMantenance{%endblock%}</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'status/styles.css' %}">
  </head>
  <body>
    <div class="jumbotron text-center" style="background-color:#212121">

      <h1 style="color: #ffffff">Society Maintenance</br></h1>
    </div>
  </body>
</html>
